@Html.Partial("~/Views/Shared/_head.cshtml")
<!-- METAS -->
<title> Amautas Mineros recibe reconocimiento por su aporte a la industria minera en alianza con el IIMP y la SNMPE | PODEROSA</title>
<!-- Basic HTML Meta Tags -->
<meta name='title' content='Amautas Mineros recibe reconocimiento por su aporte a la industria minera en alianza con el IIMP y la SNMPE | PODEROSA' />
<meta name='description' content='Este 26 de enero, Amautas Mineros hizo la exposición de su balance general 2022, donde resaltaron los principales logros alcanzados por parte de la institución, y a su vez, dieron a conocer cuáles son sus propuestas con relación al nuevo período 2023-2024.' />
<meta name='url' content='http://www.poderosa.com.pe/noticias/amautas-mineros-recibe-reconocimiento-por-su-aporte-a-la-industria/' />
<meta name='keywords' content='Asociación Pataz, comunidad, campesina, Andrés, Rázuri, Suyubamba' />
<!-- OpenGraph Meta Tags -->
<meta property='og:type' content='website' />
<meta property='og:title' content='Amautas Mineros recibe reconocimiento por su aporte a la industria minera en alianza con el IIMP y la SNMPE | PODEROSA' />
<meta property='og:description' content='Este 26 de enero, Amautas Mineros hizo la exposición de su balance general 2022, donde resaltaron los principales logros alcanzados por parte de la institución, y a su vez, dieron a conocer cuáles son sus propuestas con relación al nuevo período 2023-2024.' />
<meta property='og:url' content='http://www.poderosa.com.pe/noticias/amautas-mineros-recibe-reconocimiento-por-su-aporte-a-la-industria/' />
<meta property='og:image' content='http://www.poderosa.com.pe/Content/noticias/amautas-mineros-recibe-reconocimiento-por-su-aporte-a-la-industria/compartir.jpg' />

</head>
<body>
    @Html.Partial("~/Views/Shared/_header.cshtml")

    <main>

        <section class="bg-dorado">
            <div class="banner-interno banner-interno--solo-texto">
                <div class="container   banner-interno__caja-texto">
                    <h1 class="banner-interno__h">NOTICIAS</h1>
                </div>
            </div>
        </section>

        <section class="my-seccion">
            <div class="container">
                <img class="object-fit-cover" src="~/Content/noticias/amautas-mineros-recibe-reconocimiento-por-su-aporte-a-la-industria/banner.jpg" alt="imagen">
                <div class="h6 mayuscula mt-4">Lima, 01 de Febrero de 2023</div>
                <h1 class="h3 dorado">
                    Amautas Mineros recibe reconocimiento por su aporte a la industria minera en alianza con el IIMP y la SNMPE
                </h1>
                @Html.Partial("~/Views/Shared/_redes.cshtml")
                <br />

                <p>Este 26 de enero, Amautas Mineros hizo la exposición de su balance general 2022, donde resaltaron los principales logros alcanzados por parte de la institución, y a su vez, dieron a conocer cuáles son sus propuestas con relación al nuevo período 2023-2024. </p>

                <p>La reunión se llevó a cabo en las instalaciones de la Sociedad Nacional de Minería, Petróleo y Energía, y fue presidida por Bruno Marcos, expresidente de la Junta Directiva Nacional de Amautas Mineros, quien destacó que los voluntarios han conseguido impactar alrededor de 20 mil personas en 18 regiones del Perú, a través de proyectos como Runamin, en Cusco, Dinfomin, en La Libertad y Paqariymin en Apurímac.</p>

                <p>Cabe precisar que la nueva Junta Directiva Nacional Amauta Mineros 2023 – 2024 tiene como presidente a Leonardo Valverde. En la región La Libertad el presidente de Amautas Mineros para la directiva 2023 es Jefferson Medina.</p>

                <p>También, indicó que han logrado integrar a 733 nuevos voluntarios, con una participación femenina del 45 %, lo cual evidencia una mayor presencia de la mujer en el sector, mediante las actividades de difusión de la minería moderna.</p>

                <p>En tal sentido, los directivos de la Sociedad Nacional de Minería, Petróleo y Energía y miembros del Consejo Consultivo de Amautas Mineros, Carlos Gálvez y Ángel Murillo, otorgaron un reconocimiento a la comisión saliente, por su valioso aporte a la industria minera, difundiendo entre las nuevas generaciones las buenas prácticas enfocadas hacia una minería sostenible.</p>

                <p>Asimismo, Carlos Diez Canseco, gerente general del Instituto de Ingenieros de Minas del Perú, organización aliada, les hizo entrega del libro “Pioneros de la minería moderna en el Perú", el cual reúne las historias de los pioneros de la minería peruana, protagonistas de su evolución y desarrollo a lo largo del tiempo.</p>

                <h2 class="h5 dorado">Propuestas 2023</h2>

                <p>Entre las principales propuestas presentadas por la nueva Junta Directiva Nacional destacan: mayor promoción de los viernes Amautinos, realización del X ENAMIN 2023, ampliación del público objetivo mediante charlas oro, plata y cobre, visitas a mina, difusión de minería en 2 minutos y ferias minero escolares macro descentralizadas, en al menos 9 regiones del Perú.</p>

                <p>Además, esperan impactar a 75 mil estudiantes a nivel nacional.</p>


                <h2 class="h5 dorado">X ENAMIN 2023</h2>

                <p>La edición X del Encuentro Nacional de Amautas Mineros se celebrará del 12 al 22 de abril en el marco del XVI CONAMIN, en la ciudad de Trujillo, La Libertad, y contará con la participación de 90 voluntarios procedentes de diferentes partes del país.</p>


                <h2 class="h5 dorado">Sobre Amautas Mineros</h2>

                    <p>Amautas Mineros es una asociación sin fines de lucro reconocida por sus actividades de difusión de minería en el norte, centro y sur del Perú. Integrado por voluntarios, jóvenes universitarios multidisciplinarios procedentes de más de 50 universidades públicas y privadas, quienes comparten los beneficios de la actividad minera moderna, formal y responsable, facilitando información objetiva a estudiantes de educación secundaria de 3°, 4° y 5° año, motivándolos a seguir una carrera profesional vinculada al sector minero.</p>

                    <i lass="dorado"><b>Fuente IIMP</b></i>


                    <div class="row justify-content-center my-4">
                        <div class="col-lg-8">
                            <div class="owl-carousel    js-owl-carousel-fotos   owl-carousel--no-nav    dots-gris">
                                <div class="">
                                    <img class="img-fluid w-100" src="~/Content/noticias/amautas-mineros-recibe-reconocimiento-por-su-aporte-a-la-industria/resumen.jpg" alt="imagen">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-sm-auto">
                            @Html.Partial("~/Views/Shared/_redes.cshtml")
                        </div>

                        <div class="col-sm-auto ml-sm-auto mt-3 mt-sm-0">
                            <a class="boton boton--marron" target="_blank" href="@Url.Action("index", "noticias")">VER MÁS NOTICIAS</a>
                        </div>
                    </div>
            </div>
        </section>
    </main>

    @Html.Partial("~/Views/Shared/_footer.cshtml")

</body>
@Html.Partial("~/Views/Shared/_foot.cshtml")
</html>
