@Html.Partial("~/Views/Shared/_head.cshtml")
<!-- METAS -->
<title>Yo innovo por el Perú: CONCYTEC reconoce proyecto innovador desarrollado por PODEROSA | PODEROSA</title>
<!-- Basic HTML Meta Tags -->
<meta name='title' content='Yo innovo por el Perú: CONCYTEC reconoce proyecto innovador desarrollado por PODEROSA | PODEROSA' />
<meta name='description' content='El Consejo Nacional de Ciencia, Tecnología e Innovación Tecnológica (CONCYTEC) reconoció a PODEROSA por el desarrollo del proyecto: Análisis de Velocidades mediante Exploración de Sísmica Indirecta basada en data de Sismicidad Inducida para la Identificación de Zonas de Alto Potencial Mineralógico.' />
<meta name='url' content='http://www.poderosa.com.pe/noticias/yo-innovo-por-el-peru-concytec-reconoce-proyecto-innovador/' />
<meta name='keywords' content='Asociación Pataz, conócenos, descubre' />
<!-- OpenGraph Meta Tags -->
<meta property='og:type' content='website' />
<meta property='og:title' content='Yo innovo por el Perú: CONCYTEC reconoce proyecto innovador desarrollado por PODEROSA | PODEROSA' />
<meta property='og:description' content='El Consejo Nacional de Ciencia, Tecnología e Innovación Tecnológica (CONCYTEC) reconoció a PODEROSA por el desarrollo del proyecto: Análisis de Velocidades mediante Exploración de Sísmica Indirecta basada en data de Sismicidad Inducida para la Identificación de Zonas de Alto Potencial Mineralógico.' />
<meta property='og:url' content='http://www.poderosa.com.pe/noticias/yo-innovo-por-el-peru-concytec-reconoce-proyecto-innovador/' />
<meta property='og:image' content='http://www.poderosa.com.pe/Content/noticias/yo-innovo-por-el-peru-concytec-reconoce-proyecto-innovador/compartir.jpg' />

</head>
<body>
    @Html.Partial("~/Views/Shared/_header.cshtml")

    <main>

        <section class="bg-dorado">
            <div class="banner-interno banner-interno--solo-texto">
                <div class="container   banner-interno__caja-texto">
                    <h1 class="banner-interno__h">NOTICIAS</h1>
                </div>
            </div>
        </section>

        <section class="my-seccion">
            <div class="container">
                <img class="object-fit-cover" src="~/Content/noticias/yo-innovo-por-el-peru-concytec-reconoce-proyecto-innovador/banner.jpg" alt="imagen">
                <div class="h6 mayuscula mt-4">Pataz, 06 de Julio de 2022</div>
                <h1 class="h3 dorado">
                    CONAMIN 2023 propondrá nuevos compromisos de desarrollo sostenible
                </h1>
                @Html.Partial("~/Views/Shared/_redes.cshtml")
                <br />

                <p>
                    CONAMIN es un espacio para demostrar que la minería es sostenible en el tiempo, pese a los problemas nacionales, sociales y coyunturales, lograremos superar estos momentos difíciles convirtiéndolos en oportunidades de desarrollo; resaltó, Eva Arias, Presidenta de la Comisión Organizadora del XIV Congreso Nacional de Minería CONAMIN 2023, en la ceremonia de lanzamiento.
                </p>

                <p>
                    Eva Arias destacó que el slogan del XIV CONAMIN 2023 es: Minería sostenible, oportunidad para todos. Agradeció también la designación de liderar la Comisión Organizadora junto a un equipo humano de profesionales que pondrán a disposición su experiencia y conocimiento para hacer de CONAMIN una propuesta de oportunidades para la minería sostenible.
                </p>

                <p>CONAMIN es un escenario donde se discute y analiza la variada problemática del sector, que abarca muchos temas como el impacto de las operaciones en las comunidades en aspectos sociales y ambientales, las mejoras tecnológicas para una buena gestión de los recursos, así como los métodos de explotación que permitan operaciones más eficientes; resaltó Eva Arias.</p>


                <p>
                    “Los esperamos para juntos ser parte de la minería moderna, sostenible e inclusiva, su participación es importante y contribuye al éxito del evento", dijo.
                </p>

                <p>
                    Asimismo, invitó a participar a los ingenieros colegiados al concurso de logo del XIV CONAMIN 2023, también a participar de las ferias, conferencias o ser auspiciadores. Para mayor información contactarse al mail conamin2023@ciplima.org.pe.
                </p>

                <p>Cabe precisar que el CONAMIN 2023 tiene Comités de Trabajo, donde el Ing. Marcelo Santillana, Gerente General, participa como responsable del Comité de Infraestructura y Acondicionamiento.</p>

                <p>El CONAMIN 2023 es organizado por el Capítulo de Ingeniería de Minas del Consejo Departamental de Lima del Colegio de Ingenieros del Perú (CIP). El congreso se desarrollará del 17 al 21 de abril de 2023 en la región La Libertad, Trujillo, en la sede la Universidad Nacional de Trujillo (UNT).</p>


                <p>
                    La bienvenida a la ceremonia de lanzamiento del CONAMIN 2023 estuvo a cargo del Ing. Germán Arce, Presidente del Capítulo de Minas del CIP. “Visión de la minería peruana al 2030", es el título de la conferencia magistral que ofreció el Ing. Víctor Gobitz, Director del IIMP y CEO de Minera Antamina. Las palabras de cierre estuvieron a cargo del Ing. Roque Benavides, Decano del Consejo Departamental de Lima del CIP.

               </p>

                <p>
                    La ceremonia de lanzamiento se realizó en la sede del Consejo Departamental de Lima CIP el 14 de julio. Esta actividad fue transmitida vía Facebook live.
                </p>

                <p>
                    Puede ver la ceremonia aquí:<br />
                    <a href="https://www.facebook.com/ciplimaoficial/videos/409955494445414" target="_blank">https://www.facebook.com/ciplimaoficial/videos/409955494445414</a>
                </p>
                              

                <div class="row justify-content-center my-4">
                    <div class="col-lg-8">
                        <div class="owl-carousel    js-owl-carousel-fotos   owl-carousel--no-nav    dots-gris">
                            <div class="">
                                <img class="img-fluid w-100" src="~/Content/noticias/yo-innovo-por-el-peru-concytec-reconoce-proyecto-innovador/01.jpg" alt="imagen">
                            </div>

                            <div class="">
                                <img class="img-fluid w-100" src="~/Content/noticias/yo-innovo-por-el-peru-concytec-reconoce-proyecto-innovador/02.jpg" alt="imagen">
                            </div>

                            <div class="">
                                <img class="img-fluid w-100" src="~/Content/noticias/yo-innovo-por-el-peru-concytec-reconoce-proyecto-innovador/03.jpg" alt="imagen">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-sm-auto">
                        @Html.Partial("~/Views/Shared/_redes.cshtml")
                    </div>

                    <div class="col-sm-auto ml-sm-auto mt-3 mt-sm-0">
                        <a class="boton boton--marron" target="_blank" href="@Url.Action("index", "noticias")">VER MÁS NOTICIAS</a>
                    </div>
                </div>
            </div>
        </section>
    </main>

    @Html.Partial("~/Views/Shared/_footer.cshtml")

</body>
@Html.Partial("~/Views/Shared/_foot.cshtml")
</html>
