@Html.Partial("~/Views/Shared/_head.cshtml")
<!-- METAS -->
<title>Yo innovo por el Perú: CONCYTEC reconoce proyecto innovador desarrollado por PODEROSA | PODEROSA</title>
<!-- Basic HTML Meta Tags -->
<meta name='title' content='Yo innovo por el Perú: CONCYTEC reconoce proyecto innovador desarrollado por PODEROSA | PODEROSA' />
<meta name='description' content='El Consejo Nacional de Ciencia, Tecnología e Innovación Tecnológica (CONCYTEC) reconoció a PODEROSA por el desarrollo del proyecto: Análisis de Velocidades mediante Exploración de Sísmica Indirecta basada en data de Sismicidad Inducida para la Identificación de Zonas de Alto Potencial Mineralógico.' />
<meta name='url' content='http://www.poderosa.com.pe/noticias/yo-innovo-por-el-peru-concytec-reconoce-proyecto-innovador/' />
<meta name='keywords' content='Asociación Pataz, conócenos, descubre' />
<!-- OpenGraph Meta Tags -->
<meta property='og:type' content='website' />
<meta property='og:title' content='Yo innovo por el Perú: CONCYTEC reconoce proyecto innovador desarrollado por PODEROSA | PODEROSA' />
<meta property='og:description' content='El Consejo Nacional de Ciencia, Tecnología e Innovación Tecnológica (CONCYTEC) reconoció a PODEROSA por el desarrollo del proyecto: Análisis de Velocidades mediante Exploración de Sísmica Indirecta basada en data de Sismicidad Inducida para la Identificación de Zonas de Alto Potencial Mineralógico.' />
<meta property='og:url' content='http://www.poderosa.com.pe/noticias/yo-innovo-por-el-peru-concytec-reconoce-proyecto-innovador/' />
<meta property='og:image' content='http://www.poderosa.com.pe/Content/noticias/yo-innovo-por-el-peru-concytec-reconoce-proyecto-innovador/compartir.jpg' />

</head>
<body>
    @Html.Partial("~/Views/Shared/_header.cshtml")

    <main>

        <section class="bg-dorado">
            <div class="banner-interno banner-interno--solo-texto">
                <div class="container   banner-interno__caja-texto">
                    <h1 class="banner-interno__h">NOTICIAS</h1>
                </div>
            </div>
        </section>

        <section class="my-seccion">
            <div class="container">
                <img class="object-fit-cover" src="~/Content/noticias/yo-innovo-por-el-peru-concytec-reconoce-proyecto-innovador/banner.jpg" alt="imagen">
                <div class="h6 mayuscula mt-4">Pataz, 06 de Julio de 2022</div>
                <h1 class="h3 dorado">
                    De Pataz para el mundo: murales realzan identidad y cultura de nuestra gente
                </h1>
                @Html.Partial("~/Views/Shared/_redes.cshtml")
                <br />

                <p>Identificar el talento de potenciales artistas del distrito de Pataz para sumarlos como agentes de cambio que permitan la transformación del territorio, así como generar alianzas sociales con autoridades locales y población; fueron parte de los retos que cumplió el concurso de pintura “Mi Pataz: Innovación, Identidad y Cultura", que premió a los ganadores el 21 y 22 de julio en sus localidades. </p>

                <p>
                    En el espacio de la premiación los ganadores mostraron su agradecimiento por la realización del concurso, que les permitió plasmar la visión de sus sueños y anhelos y cómo se imaginan a Pataz en el tiempo.
                </p>

                <p>Brandon Lee Mendoza, ganador del concurso en el anexo de Pataz, agradeció la designación de ser uno de los ganadores y resaltó la importancia del concurso que promueve la cultura del distrito y mostró su compromiso de ser un gestor cultural del territorio.</p>

                <p>Los murales fueron realizados por artistas de Bellas Artes de Trujillo: Lutgarda Reyes, Rómulo Azabache y el maestro Emerson. Quienes aplicaron la técnica del traslape. Gracias a esto se pudo plasmar en el mural el dibujo hecho en una hoja A4 por los participantes del concurso. Los murales se encuentran en las escuelas de los niños participantes y en la plaza principal de Pataz frente al municipio.</p>

                <h5 class="dorado">Ganadores del concurso</h5>

                <ul>
                    <li class="gris">
                        <strong>Pataz</strong><br>
                        Brandon Lee Mendoza Fernández | Categoría adulto <br />
                        Yony Zapana Colla | Categoría adulto | Mención honrosa<br />


                    </li>
                    <li class="gris">
                        <strong>Suyubamba</strong><br>
                        Geraldine Mendoza Jaime | Categoría juvenil <br />
                        Olga León Jaime | Categoría adulto
                    </li>
                    <li class="gris">
                        <strong>Vijus</strong><br>
                        Salomé Guzmán Merino | Categoría niña
                    </li>
                    <li class="gris">
                        <strong>Zarumilla</strong><br>
                        Polo Yupanqui Maycol | Categoría juvenil
                    </li>
                    <li class="gris">
                        <strong>Pueblo Nuevo</strong><br>
                        Rovinson Vásquez Villalobos  | Categoría niño.
                    </li>
                </ul>

                <p>Los ganadores fueron premiados en su localidad. Ellos recibieron un diploma de reconocimiento y una tablet como premio. Resaltamos que los ganadores de los anexos de Zarumilla y Pueblo Nuevo, compartieron su triunfo con sus compañeros de aula, gracias a ello todos recibieron una mochila y un tomatodo ecológico.</p>

                <p>Emma Flores, Coordinadora de Gestión de la Innovación de Rurana Centro de Innovación Social de Asociación Pataz, felicitó a los ganadores del concurso y destacó la participación de los cientos de trabajos en esta primera edición del concurso.</p>

                <p>Agradeció también la participación de aliados locales como el Municipio Distrital de Pataz. En este espacio entregó un reconocimiento a la Gerente de Desarrollo Social de la comuna, Sulma Rivera, por el apoyo en la realización del concurso de pintura y el Reconocimiento Jesús Arias Dávila, al Innovador Socio Ambiental de La Libertad 2021.</p>

                <p>Cabe recordar que el concurso fue organizado por Rurana Centro de Innovación Social de Asociación Pataz y PODEROSA; participaron como coorganizadores la UGEL Pataz, la Municipalidad Distrital de Pataz y la Gerencia Regional de Educación La Libertad.</p>

                <p>El jurado calificador del concurso estuvo integrado por Lutgarda Reyes, Rómulo Azabache (promotores culturales y artísticos), y representantes de la Gerencia Regional de Educación La Libertad, Dirección de Educación de la Municipalidad Distrital de Pataz y de la Unidad de Gestión Educativa Local- UGEL Pataz.</p>






                <code>imagen</code>


                <div class="row justify-content-center my-4">
                    <div class="col-lg-8">
                        <div class="owl-carousel    js-owl-carousel-fotos   owl-carousel--no-nav    dots-gris">
                            <div class="">
                                <img class="img-fluid w-100" src="~/Content/noticias/yo-innovo-por-el-peru-concytec-reconoce-proyecto-innovador/01.jpg" alt="imagen">
                            </div>

                            <div class="">
                                <img class="img-fluid w-100" src="~/Content/noticias/yo-innovo-por-el-peru-concytec-reconoce-proyecto-innovador/02.jpg" alt="imagen">
                            </div>

                            <div class="">
                                <img class="img-fluid w-100" src="~/Content/noticias/yo-innovo-por-el-peru-concytec-reconoce-proyecto-innovador/03.jpg" alt="imagen">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-sm-auto">
                        @Html.Partial("~/Views/Shared/_redes.cshtml")
                    </div>

                    <div class="col-sm-auto ml-sm-auto mt-3 mt-sm-0">
                        <a class="boton boton--marron" target="_blank" href="@Url.Action(" index", "noticias" )">VER MÁS NOTICIAS</a>
                    </div>
                </div>
            </div>
        </section>
    </main>

    @Html.Partial("~/Views/Shared/_footer.cshtml")

</body>
@Html.Partial("~/Views/Shared/_foot.cshtml")
</html>
