@Html.Partial("~/Views/Shared/_head.cshtml")
<!-- METAS -->
<title>Desafíos y Oportunidades en la Minería Peruana | PODEROSA</title>
<!-- Basic HTML Meta Tags -->
<meta name='title' content='Desafíos y Oportunidades en la Minería Peruana | PODEROSA' />
<meta name='description' content='Plan Estratégico de Minera Poderosa 2022-2026 prioriza dos iniciativas: compromiso con el Plan de Sostenibilidad Ambiental, y desarrollar una transición justa hacia las energías limpias.' />
<meta name='url' content='http://www.poderosa.com.pe/desafios-y-oportunidades-en-la-mineria-peruana/' />
<meta name='keywords' content='agricultores, peruanos, chugayna, variedad, tubérculo, Libertad' />
<!-- OpenGraph Meta Tags -->
<meta property='og:type' content='website' />
<meta property='og:title' content='Desafíos y Oportunidades en la Minería Peruana | PODEROSA' />
<meta property='og:description' content='Plan Estratégico de Minera Poderosa 2022-2026 prioriza dos iniciativas: compromiso con el Plan de Sostenibilidad Ambiental, y desarrollar una transición justa hacia las energías limpias.' />
<meta property='og:url' content='http://www.poderosa.com.pe/noticias/desafios-y-oportunidades-en-la-mineria-peruana/' />
<meta property='og:image' content='http://www.poderosa.com.pe/Content/noticias/desafios-y-oportunidades-en-la-mineria-peruana/compartir.jpg' />
</head>
<body>
    @Html.Partial("~/Views/Shared/_header.cshtml")

    <main>

        <section class="bg-dorado">
            <div class="banner-interno banner-interno--solo-texto">
                <div class="container   banner-interno__caja-texto">
                    <h1 class="banner-interno__h">NOTICIAS</h1>
                </div>
            </div>
        </section>

        <section class="my-seccion">
            <div class="container">
                <img class="object-fit-cover" src="~/Content/noticias/desafios-y-oportunidades-en-la-mineria-peruana/banner.jpg" alt="imagen">
                <div class="h6 mayuscula mt-4">La Libertad, julio 26 de 2023</div>
                <h1 class="h3 dorado">
                    Desafíos y Oportunidades en la Minería Peruana
                </h1>
                <h5 class="dorado font-italic">
                    Plan Estratégico de Minera Poderosa 2022-2026 prioriza dos iniciativas: compromiso con el Plan de Sostenibilidad
                    Ambiental, y desarrollar una transición justa hacia las energías limpias.
                </h5>
                <div class="d-flex justify-content-center justify-content-sm-start">
                    @Html.Partial("~/Views/Shared/_redes.cshtml")
                </div>
                <br />

                <p>
                    Arequipa, setiembre 29, 2023. El pasado miércoles 27 de setiembre de 2023, contamos con la participación de la Sra. Eva Arias, Presidente Ejecutiva de Minera Poderosa donde expuso sobre las próximas acciones que tomará Poderosa desde la perspectiva de la sostenibilidad y protección del medio ambiente, para así generar
                    valor más allá de la vida operativa de la mina y contribuir al crecimiento equitativo
                    de nuestros grupos de interés.
                </p>


                <p>Estamos convencidos de que es posible lograr un mundo mejor; lo hacemos a través de planes de mitigación y reducción de impactos, con el compromiso de ser una empresa sostenible con bajas emisiones de C02.</p>

                <p>
                    “Por el lado de la sostenibilidad social, directamente como Poderosa y también a través de nuestra ONG Asociación Pataz,
                    impulsamos el desarrollo económico de la región La Libertad mediante diversos proyectos que promueven el
                    fortalecimiento de la salud y la educación; los emprendimientos y las cadenas productivas; la infraestructura
                    y la conectividad; el crecimiento agropecuario y forestal; entre otros.” Mencionó la Sra. Eva Arias.
                </p>

                <p>
                    Asimismo, dio a conocer dos iniciativas que son una constante en las actividades desde que Poderosa inició sus
                    operaciones en Pataz, hace ya 43 años, la construcción de carreteras públicas, habiendo logrado ya 334 km
                    la reforestación siendo ya más de 5,200 hectáreas las forestadas con más de 6 millones cuatrocientos mil árboles.
                </p>

                <p>
                    De igual manera Poderosa sigue avanzando hacia la transición energética y tiene como meta ser una empresa
                    carbono neutral al 2030 con la transición hacia energías limpias que viene desarrollando con proyectos
                    energéticos renovables.
                <p>

                <p>
                    Por otro lado, indicó que se vienen implementando proyectos de generación distribuida solar fotovoltaicos
                    con baterías en todos nuestros campamentos, almacenes, oficinas y el aeródromo Chagual, el primer aeródromo
                    carbono neutral del país.
                <p>

                <p>
                    Consideramos que el Perú, así como cuenta con abundantes recursos mineros, cuenta también con abundantes
                    recursos energéticos renovables, los mismos que debemos aprovechar para llevar a cabo una eficiente
                    transición energética que permita cumplir la meta país de reducir en 40% los gases de efecto invernadero al 2030.
                <p>

                <p>“Para ello, de un lado se requiere liderazgo del Estado implementando adecuadas políticas de promoción de las energías
                renovables, electromovilidad e hidrógeno verde y de otro el compromiso del sector privado de migrar hacia las energías limpias.
                Dentro de esta línea de ideas, Poderosa toma la iniciativa en el sector minero
                y queremos convertirnos en la primera empresa minera aurífera carbono neutral del Perú y América Latina.” Comentó</p>


                <br>
                <i lass="dorado"><b>Fuente IIMP</b></i>
                <div class="row justify-content-center my-4">
                    <div class="col-lg-8">
                        <div class="owl-carousel    js-owl-carousel-fotos   owl-carousel--no-nav    dots-gris">
                            <div class="">
                                <img class="img-fluid w-100" src="~/Content/noticias/desafios-y-oportunidades-en-la-mineria-peruana/01.jpg" alt="imagen">
                            </div>

                            <div class="">
                                <img class="img-fluid w-100" src="~/Content/noticias/desafios-y-oportunidades-en-la-mineria-peruana/02.jpg" alt="imagen">
                            </div>

                            <div class="">
                                <img class="img-fluid w-100" src="~/Content/noticias/desafios-y-oportunidades-en-la-mineria-peruana/03.jpg" alt="imagen">
                            </div>

                            <div class="">
                                <img class="img-fluid w-100" src="~/Content/noticias/desafios-y-oportunidades-en-la-mineria-peruana/04.jpg" alt="imagen">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex mt-4  flex-column flex-sm-row align-items-center align-items-md-start justify-content-sm-center">
                    <div class="flex-fill mb-4 mb-sm-0">
                        @Html.Partial("~/Views/Shared/_redes.cshtml")

                    </div>
                    <div class="flex-fill text-center text-sm-right">
                        <a class="boton boton--marron" target="_blank" href="@Url.Action("index", "noticias")">VER MÁS NOTICIAS</a>
                    </div>
                </div>
            </div>
        </section>

    </main>

    @Html.Partial("~/Views/Shared/_footer.cshtml")

</body>
@Html.Partial("~/Views/Shared/_foot.cshtml")
</html>