@Html.Partial("~/Views/Shared/_head.cshtml")
<!-- METAS -->
<title>Yo innovo por el Perú: CONCYTEC reconoce proyecto innovador desarrollado por PODEROSA | PODEROSA</title>
<!-- Basic HTML Meta Tags -->
<meta name='title' content='Yo innovo por el Perú: CONCYTEC reconoce proyecto innovador desarrollado por PODEROSA | PODEROSA' />
<meta name='description' content='El Consejo Nacional de Ciencia, Tecnología e Innovación Tecnológica (CONCYTEC) reconoció a PODEROSA por el desarrollo del proyecto: Análisis de Velocidades mediante Exploración de Sísmica Indirecta basada en data de Sismicidad Inducida para la Identificación de Zonas de Alto Potencial Mineralógico.' />
<meta name='url' content='http://www.poderosa.com.pe/noticias/yo-innovo-por-el-peru-concytec-reconoce-proyecto-innovador/' />
<meta name='keywords' content='Asociación Pataz, conócenos, descubre' />
<!-- OpenGraph Meta Tags -->
<meta property='og:type' content='website' />
<meta property='og:title' content='Yo innovo por el Perú: CONCYTEC reconoce proyecto innovador desarrollado por PODEROSA | PODEROSA' />
<meta property='og:description' content='El Consejo Nacional de Ciencia, Tecnología e Innovación Tecnológica (CONCYTEC) reconoció a PODEROSA por el desarrollo del proyecto: Análisis de Velocidades mediante Exploración de Sísmica Indirecta basada en data de Sismicidad Inducida para la Identificación de Zonas de Alto Potencial Mineralógico.' />
<meta property='og:url' content='http://www.poderosa.com.pe/noticias/yo-innovo-por-el-peru-concytec-reconoce-proyecto-innovador/' />
<meta property='og:image' content='http://www.poderosa.com.pe/Content/noticias/yo-innovo-por-el-peru-concytec-reconoce-proyecto-innovador/compartir.jpg' />

</head>
<body>
    @Html.Partial("~/Views/Shared/_header.cshtml")

    <main>

        <section class="bg-dorado">
            <div class="banner-interno banner-interno--solo-texto">
                <div class="container   banner-interno__caja-texto">
                    <h1 class="banner-interno__h">NOTICIAS</h1>
                </div>
            </div>
        </section>

        <section class="my-seccion">
            <div class="container">
                <img class="object-fit-cover" src="~/Content/noticias/yo-innovo-por-el-peru-concytec-reconoce-proyecto-innovador/banner.jpg" alt="imagen">
                <div class="h6 mayuscula mt-4">Pataz, 06 de Julio de 2022</div>
                <h1 class="h3 dorado">
                    Esfuerzo conjunto: Periodismo de datos para empoderar ciudadanía
                </h1>
                @Html.Partial("~/Views/Shared/_redes.cshtml")
                <br />

                <p>
                    “Lo primero a entender en el trabajo periodístico es qué queremos trabajar usando los datos, es importante discernir y no caer en las fake news. El periodismo está sujeto a la veracidad y validación de fuentes. Para qué me sirve la data, qué problema vamos a solucionar"; es una de las premisas del taller: Periodismo de datos: análisis y visualización de data, fuentes públicas y transparencia.
                </p>

                <p>El taller es un esfuerzo conjunto entre la Cámara de Comercio de La Libertad, el Colegio de Periodistas del Perú Filial La Libertad y PODEROSA. El taller se realizó el 01 de julio y fue dirigido a periodistas de la región La Libertad; y estuvo a cargo de Maite Vizcarra, especialista en innovación tecnológica y digitalización, conductora del podcast Ruta CTi y del programa 4D del Grupo La República.</p>

                <p>El Periodismo de datos permite un mejor análisis de la información, permite a través de los datos abiertos de fuentes públicas y privadas una mejor rendición de cuentas y fortalecer la democracia y ayuda a establecer un mayor empoderamiento del ciudadano y equiparar al poder; resaltó Maite Vizcarra en su presentación.</p>

                <p>El periodismo de datos es una especialidad del periodismo que consiste en recabar y analizar grandes cantidades de datos y hacer comprensible la información al público a través de distintos canales de comunicación.</p>


                <h5 class="dorado">Esfuerzo conjunto</h5>
                <p><strong>Guillermo Benavides</strong></p>
                <p>Presidente de la Cámara de Comercio La Libertad</p>
                <p>Saludamos la realización del taller que fortalece las capacidades de los periodistas de la región, eso trae un impacto positivo en nuestra sociedad. Apostamos por este ciclo de talleres de capacitación que ayuda a fortalecer altos estándares éticos.</p>

                <p><strong>Alfredo Galindo</strong> </p>
                <p>
                    <strong>Decano del Colegio de Periodistas Filial La Libertad</strong>
                </p>
                <p>El taller es una iniciativa privada que fortalece un aspecto importante para la profesión como es la capacitación. El periodismo de datos es una fuente de conocimiento para los periodistas, agradecemos su realización.</p>

                <p><strong>Ismael López</strong> </p>
                <p><strong>Jefe de Comunicaciones</strong> </p>
                <p>Es el cuarto taller que realizamos en alianza con la Cámara de Comercio de La Libertad y el Colegio de Periodistas Filial La Libertad. La idea es construir ciudadanía a través del fortalecimiento de capacidades de los periodistas de la región. Los temas trabajados buscan generar una conciencia crítica que se refleje en el trabajo que se entrega a la población. El próximo taller será sobre ética periodística en el marco de la campaña electoral.</p>

                <p>Durante el taller los periodistas reflexionaron sobre las posibilidades que ofrece el periodismo de datos como herramienta, cómo saber reconocer la data y procesarla como información útil para el público. Este espacio convocó a más de 80 periodistas. El taller fue moderado por Lourdes Gonzales, Coordinadora de Comunicación Interna.</p>

                <p>El video del taller puede verse en nuestro canal de YouTube Minera Poderosa:</p>
                
                <p><a href="https://www.youtube.com/watch?v=Jvp9Rc7WcOk" target="_blank">https://www.youtube.com/watch?v=Jvp9Rc7WcOk</a></p>


                <code>imagen</code>


                <div class="row justify-content-center my-4">
                    <div class="col-lg-8">
                        <div class="owl-carousel    js-owl-carousel-fotos   owl-carousel--no-nav    dots-gris">
                            <div class="">
                                <img class="img-fluid w-100" src="~/Content/noticias/yo-innovo-por-el-peru-concytec-reconoce-proyecto-innovador/01.jpg" alt="imagen">
                            </div>

                            <div class="">
                                <img class="img-fluid w-100" src="~/Content/noticias/yo-innovo-por-el-peru-concytec-reconoce-proyecto-innovador/02.jpg" alt="imagen">
                            </div>

                            <div class="">
                                <img class="img-fluid w-100" src="~/Content/noticias/yo-innovo-por-el-peru-concytec-reconoce-proyecto-innovador/03.jpg" alt="imagen">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-sm-auto">
                        @Html.Partial("~/Views/Shared/_redes.cshtml")
                    </div>

                    <div class="col-sm-auto ml-sm-auto mt-3 mt-sm-0">
                        <a class="boton boton--marron" target="_blank" href="@Url.Action("index", "noticias")">VER MÁS NOTICIAS</a>
                    </div>
                </div>
            </div>
        </section>
    </main>

    @Html.Partial("~/Views/Shared/_footer.cshtml")

</body>
@Html.Partial("~/Views/Shared/_foot.cshtml")
</html>
