@Html.Partial("~/Views/Shared/_head.cshtml")
<!-- METAS -->
<title>Noticias | PODEROSA</title>
<!-- Basic HTML Meta Tags -->
<meta name='title' content='Noticias | PODEROSA' />
<meta name='description' content='Conoce nuestras últimas noticias.' />
<meta name='url' content='https://www.poderosa.com.pe/noticias/index' />
<meta name='keywords' content='noticias, poderosa' />
<!-- OpenGraph Meta Tags -->
<meta property='og:type' content='website' />
<meta property='og:title' content='Noticias | PODEROSA' />
<meta property='og:description' content='Conoce nuestras últimas noticias.' />
<meta property='og:url' content='https://www.poderosa.com.pe/noticias/index' />
<meta property='og:image' content='https://www.poderosa.com.pe/Content/img/compartir.jpg' />
</head>
<body>
    <div class="menuSecuVelo"></div>
    @Html.Partial("~/Views/Shared/_header.cshtml")


    <div class="pt-4 ">
        <div class="bannerInterno__contenedor">
            <img src="~/Content/publicaciones/banner-home.png" class="img-fluid  w-100 d-none  d-lg-block" alt="">
            <img src="~/Content/publicaciones/banner-home-tablet.jpg" class="img-fluid  d-none d-md-block d-sm-none d-lg-none" alt="">
            <img src="~/Content/publicaciones/banner-home-movil.jpg" class="img-fluid  d-block d-md-none d-lg-none" alt="">
            <img src="~/Content/img/pagina-interna/forma-dorada-transparente.png" class="img-fluid bannerInterno__dorada" alt="...">
            <div class="bannerInterno__texto">
                <!--     <h3 class="bannerInterno__indice fuente-5">Gestión de Cumplimiento</h3>  -->
                <h1 class="bannerInterno__titulo fuente-3">
                    Noticias
                </h1>
            </div>
            <img src="~/Content/img/pagina-interna/forma-dorada.png" class="img-fluid bannerInterno__small" alt="">
        </div>

        <section class="py-5" id="publicaciones">
            <div class="container py-5">

                <div class="publicaciones_pagination  row">

                    <div class="col-lg-3 col-md-6 col-6 pb-5">
                        <a href="@Url.Action("mineros-ilegales-dinamitan-otra-torre-de-alta-tension", "noticias")" class="text-decoration-none" target="_blank">
                            <img src="~/Content/noticias/mineros-ilegales-dinamitan-otra-torre-de-alta-tension/2do-atentado-enero-lista.png" alt="" class="img-fluid contenedor-noticias-img zoom-img border-coleccionables">
                            <h6 class="fuente-3 mt-3">
                                Mineros ilegales dinamitan otra torre de alta tensión
                            </h6>
                            <span class="fuente-3 dorado">
                                16 DE ENERO de 2025
                            </span>
                        </a>
                        <p class="mt-2">
                            Descripción breve o contexto de la noticia.
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 col-6 pb-5">
                        <a href="@Url.Action("puente-lavasen-sera-una-realidad", "noticias")" class="text-decoration-none" target="_blank">
                            <img src="~/Content/noticias/puente-lavasen-sera-una-realidad/resumen.jpg" alt="" class="img-fluid contenedor-noticias-img zoom-img border-coleccionables">
                            <h6 class="fuente-3 mt-3">
                                Puente Lavasen será una realidad gracias a obras por impuestos y conectará ande liberteños
                            </h6>
                            <span class="fuente-3 dorado">
                                14 DE ENERO de 2025
                            </span>
                        </a>
                        <p class="mt-2">
                            Descripción breve o contexto de la noticia.
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 col-6 pb-5">
                        <a href="@Url.Action("minera-poderosa-sufre-nuevo-atentado", "noticias")" class="text-decoration-none" target="_blank">
                            <img src="~/Content/noticias/minera-poderosa-sufre-nuevo-atentado/resumen.png" alt="" class="img-fluid contenedor-noticias-img zoom-img border-coleccionables">
                            <h6 class="fuente-3 mt-3">
                                Minera Poderosa sufre nuevo atentado
                            </h6>
                            <span class="fuente-3 dorado">
                                12 DE ENERO de 2025
                            </span>
                        </a>
                        <p class="mt-2">
                            Descripción breve o contexto de la noticia.
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 col-6 pb-5">
                        <a href="@Url.Action("exposicion-fotografica-don-jesus-arias-davila-el-legado-eterno-de-un-pionero-de-la-mineria", "noticias")" class="text-decoration-none" target="_blank">
                            <img src="~/Content/noticias/exposicion-fotografica-don-jesus-arias-davila-el-legado-eterno-de-un-pionero-de-la-mineria/resumen.jpg" alt="" class="img-fluid contenedor-noticias-img zoom-img border-coleccionables">
                            <h6 class="fuente-3 mt-3">
                                Exposición fotográfica: Don Jesús Arias Dávila, el legado eterno de un pionero de la minería del país
                            </h6>
                            <span class="fuente-3 dorado">
                                23 DE DICIEMBRE de 2024
                            </span>
                        </a>
                        <p class="mt-2">
                            Descripción breve o contexto de la noticia.
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 col-6 pb-5">
                        <a href="@Url.Action("xiii-fondo-concursable-minera-poderosa-suma-fuerzas-con-los-codecos", "noticias")" class="text-decoration-none" target="_blank">
                            <img src="~/Content/noticias/xiii-fondo-concursable-minera-poderosa-suma-fuerzas-con-los-codecos/resumen.jpg" alt="" class="img-fluid contenedor-noticias-img zoom-img border-coleccionables">
                            <h6 class="fuente-3 mt-3">
                                XIII Fondo Concursable: Minera Poderosa suma fuerzas con los CODECOs
                            </h6>
                            <span class="fuente-3 dorado">
                                18 DE DICIEMBRE de 2024
                            </span>
                        </a>
                        <p class="mt-2">
                            Descripción breve o contexto de la noticia.
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 col-6 pb-5">
                        <a href="@Url.Action("poderosa-presente-ing-estela-participa-del-energy-storage-2024", "noticias")" class="text-decoration-none" target="_blank">
                            <img src="~/Content/noticias/poderosa-presente-ing-estela-participa-del-energy-storage-2024/resumen.jpg" alt="" class="img-fluid contenedor-noticias-img zoom-img border-coleccionables">
                            <h6 class="fuente-3 mt-3">
                                Poderosa presente: Ing. Estela participa del Energy Storage 2024
                            </h6>
                            <span class="fuente-3 dorado">
                                16 DE DICIEMBRE de 2024
                            </span>
                        </a>
                        <p class="mt-2">
                            Descripción breve o contexto de la noticia.
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 col-6 pb-5">
                        <a href="@Url.Action("homenaje-del-colegio-de-ingenieros-del-peru", "noticias")" class="text-decoration-none" target="_blank">
                            <img src="~/Content/noticias/homenaje-del-colegio-de-ingenieros-del-peru-el-legado-eterno-de-don-jesus-arias-davila/resumen.jpg" alt="" class="img-fluid contenedor-noticias-img zoom-img border-coleccionables">
                            <h6 class="fuente-3 mt-3">
                                Homenaje del Colegio de Ingenieros del Perú: el legado eterno de Don Jesús Arias Dávila
                            </h6>
                            <span class="fuente-3 dorado">
                                12 DE DICIEMBRE de 2024
                            </span>
                        </a>
                        <p class="mt-2">
                            Descripción breve o contexto de la noticia.
                        </p>
                    </div>


                    <div class="col-lg-3 col-md-6 col-6 pb-5">
                        <a href="@Url.Action("fis-2024-distrito-de-pataz-se-convierte-en-epicentro", "noticias")" class="text-decoration-none" target="_blank">
                            <img src="~/Content/noticias/fis-2024-distrito-de-pataz-se-convierte-en-epicentro/resumen.jpg" alt="" class="img-fluid contenedor-noticias-img zoom-img border-coleccionables">
                            <h6 class="fuente-3 mt-3">
                                FIS 2024: distrito de Pataz se convierte en epicentro de la innovación social del Perú
                            </h6>
                            <span class="fuente-3 dorado">
                                23 DE NOVIEMBRE de 2024
                            </span>
                        </a>
                        <p class="mt-2">
                            Descripción breve o contexto de la noticia.
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 col-6 pb-5">
                        <a href="@Url.Action("pablo-de-la-flor-destaca-riesgos-de-la-mineria-ilegal", "noticias")" class="text-decoration-none" target="_blank">
                            <img src="~/Content/noticias/pablo-de-la-flor-destaca-riesgos-de-la-mineria-ilegal/resumen.jpg"
                                 alt=""
                                 class="img-fluid contenedor-noticias-img zoom-img border-coleccionables">
                            <h6 class="fuente-3 mt-3">
                                Pablo de la Flor destaca riesgos de la minería ilegal
                            </h6>
                            <span class="fuente-3 dorado ">
                                17 DE OCTUBRE de 2024
                            </span>

                        </a>
                        <p class="mt-2">
                            “Es difícil distinguir entre minería informal e ilegal."
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 col-6 pb-5">
                        <a href="@Url.Action("trabajo-conjunto-permite-que-el-centro-asistencial-de-salud-de-vijus", "noticias")" class="text-decoration-none" target="_blank">
                            <img src="~/Content/noticias/trabajo-conjunto-permite-que-el-centro-asistencial-de-salud-de-vijus/resumen.jpg" alt="" class="img-fluid contenedor-noticias-img zoom-img border-coleccionables">
                            <h6 class="fuente-3 mt-3">
                                Trabajo conjunto permite que el Centro Asistencial

                                </h5>
                                <span class="fuente-3 dorado ">
                                    22 DE OCTUBRE de 2024
                                </span>
                        </a>
                        <p class="mt-2">
                            Mejoramiento del Centro de Salud del anexo de Vijus.
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 col-6 pb-5">
                        <a href="@Url.Action("poderosa-presente-en-cumbre-peru-sostenible-2024", "noticias")" class="text-decoration-none" target="_blank">
                            <img src="~/Content/noticias/poderosa-presente-en-cumbre-peru-sostenible-2024/resumen.jpg" alt="" class="img-fluid contenedor-noticias-img zoom-img border-coleccionables">
                            <h6 class="fuente-3 mt-3">
                                PODEROSA presente en Cumbre Perú Sostenible
                            </h6>
                            <span class="fuente-3 dorado ">
                                10 DE OCTUBRE de 2024
                            </span>
                        </a>
                        <p class="mt-2">
                            Lima fue sede de la Cumbre Perú Sostenible.
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 col-6 pb-5">
                        <a href="/sni-reconoce-a-4-cmc-en-practicas-de-excelencia-202.html" class="text-decoration-none" target="_blank">
                            <img src="~/Content/noticias/sni-reconoce-a-4-cmc-en-practicas-de-excelencia-2024/resumen.jpg" alt="" class="img-fluid contenedor-noticias-img zoom-img border-coleccionables">
                            <h6 class="fuente-3 mt-3">
                                SNI reconoce a 4 CMC en prácticas de excelencia

                            </h6>
                            <span class="fuente-3 dorado ">
                                04 DE OCTUBRE de 2024

                            </span>
                        </a>
                        <p class="mt-2">
                            Lima fue sede de la Cumbre Perú Sostenible.
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 col-6 pb-5">
                        <a href="/la-violencia-no-tiene-cuando-acabar-en-pataz-nuevo-atentado-contra-poderosa-deja-un-muerto-y-un-herido.html" class="text-decoration-none" target="_blank">
                            <img src="~/Content/noticias/la-violencia-no-tiene-cuando-acabar-en-pataz-nuevo-atentado/resumen.jpg" alt="" class="img-fluid contenedor-noticias-img zoom-img border-coleccionables">
                            <h6 class="fuente-3 mt-3">

                                La violencia no tiene cuando acabar en Pataz

                            </h6>
                            <span class="fuente-3 dorado ">
                                25 DE SETIEMBRE de 2024

                            </span>
                        </a>
                        <p class="mt-2">
                            Delincuentes atacaron con armas de fuego.
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 col-6 pb-5">
                        <a href="/pataz-abre-las-puertas-a-la-innovacion-con-su-observatorio-de-misiones.html" class="text-decoration-none" target="_blank">
                            <img src="~/Content/noticias/pataz-abre-las-puertas-a-la-innovacion/resumen.jpg" alt="" class="img-fluid contenedor-noticias-img zoom-img border-coleccionables">
                            <h6 class="fuente-3 mt-3">

                                Pataz abre las puertas a la innovación

                            </h6>
                            <span class="fuente-3 dorado ">
                                17 DE SETIEMBRE de 2024

                            </span>
                        </a>
                        <p class="mt-2">
                            Ha dado un paso clave hacia la innovación social.
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 col-6 pb-5">
                        <a href="/desafios-y-oportunidades-para-la-educacion-en-el-peru.html" class="text-decoration-none" target="_blank">
                            <img src="~/Content/noticias/desafios-y-oportunidades-para-la-educacion/resumen.jpg" alt="" class="img-fluid contenedor-noticias-img zoom-img border-coleccionables">
                            <h6 class="fuente-3 mt-3">

                                Desafíos y oportunidades para la educación en el Perú

                            </h6>
                            <span class="fuente-3 dorado ">
                                24 DE AGOSTO de 2024

                            </span>
                        </a>
                        <p class="mt-2">
                            Abordaron el tema de los desafíos y oportunidades.
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 col-6 pb-5">
                        <a href="/poderosa-sustenta-postulacion-en-la-sociedad-nacional-de-industrias.html" class="text-decoration-none" target="_blank">
                            <img src="~/Content/noticias/poderosa-sustenta-postulacion/resumen.jpg" alt="" class="img-fluid contenedor-noticias-img zoom-img border-coleccionables">
                            <h6 class="fuente-3 mt-3">

                                PODEROSA sustenta postulación en la Sociedad


                            </h6>
                            <span class="fuente-3 dorado ">
                                22 DE AGOSTO de 2024
                            </span>
                        </a>
                        <p class="mt-2">
                            Reconocimiento a Prácticas de Excelencia 2024.
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 col-6 pb-5">
                        <a href="/el-poder-del-esfuerzo-conjunto-emprendimientos-que-transforman-el-norte.html" class="text-decoration-none" target="_blank">
                            <img src="~/Content/noticias/el-poder-del-esfuerzo-conjunto-emprendimientos/resumen.jpg" alt="" class="img-fluid contenedor-noticias-img zoom-img border-coleccionables">
                            <h6 class="fuente-3 mt-3">

                                Emprendimientos que transforman el norte


                            </h6>
                            <span class="fuente-3 dorado ">
                                22 DE AGOSTO de 2024


                            </span>
                        </a>
                        <p class="mt-2">
                            Por quinto año consecutivo, el Premio Hub Norte.
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 col-6 pb-5">
                        <a href="/poderosa-comparte-su-experiencia-en-el-congreso-de-tecnicas-de-mineria.html" class="text-decoration-none" target="_blank">
                            <img src="~/Content/noticias/poderosa-comparte-su-experiencia/resumen.jpg" alt="" class="img-fluid contenedor-noticias-img zoom-img border-coleccionables">
                            <h6 class="fuente-3 mt-3">
                                PODEROSA comparte su experiencia en el Congreso
                            </h6>
                            <span class="fuente-3 dorado ">
                                15 DE AGOSTO de 2024
                            </span>
                        </a>
                        <p class="mt-2">
                            PODEROSA participó en el (CTMI 2024).
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 col-6 pb-5">
                        <a href="/a-pesar-de-reciente-ampliacion-del-estado-de-emergencia-en-pataz-delincuentes-atacan-a-minera-poderosa-y-toman-nivel-2820.html" class="text-decoration-none" target="_blank">
                            <img src="~/Content/noticias/a-pesar-de-reciente-ampliacion-del-estado-de-emergencia-en-pataz-delincuentes/resumen.jpg" alt="" class="img-fluid contenedor-noticias-img zoom-img border-coleccionables">
                            <h6 class="fuente-3 mt-3">
                                Delincuentes atacan a Minera Poderosa
                            </h6>
                            <span class="fuente-3 dorado ">
                                11 DE JULIO de 2024
                            </span>
                        </a>
                        <p class="mt-2">
                            Un grupo de delincuentes ingresaron con armas.
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 col-6 pb-5">
                        <a href="/xv-conamin-poderosa-recibe-reconocimiento-a-mejor-trabajo-investigacion.html" class="text-decoration-none" target="_blank">
                            <img src="~/Content/noticias/xv-conamin-poderosa-recibe-reconocimiento-a-mejor-trabajo-investigacion/resumen.jpg" alt="" class="img-fluid contenedor-noticias-img zoom-img border-coleccionables">
                            <h6 class="fuente-3 mt-3">
                                XV CONAMIN: Poderosa recibe reconocimiento
                            </h6>
                            <span class="fuente-3 dorado ">
                                28 DE JUNIO de 2024
                            </span>
                        </a>
                        <p class="mt-2">
                            Reconocimiento a la mejor investigación
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 col-6 pb-5">
                        <a href="/jimena-sologuren-compartio-experiencias-e-inspiro-a-escolares-de-trujillo.html" class="text-decoration-none" target="_blank">
                            <img src="~/Content/noticias/jimena-sologuren-compartio-experiencias-e-inspiro-a-escolares-de-trujillo/resumen.jpg" alt="" class="img-fluid contenedor-noticias-img zoom-img border-coleccionables">
                            <h6 class="fuente-3 mt-3">



                                Jimena Sologuren compartió experiencias



                            </h6>
                            <span class="fuente-3 dorado ">


                                28 DE JUNIO de 2024



                            </span>
                        </a>
                        <p class="mt-2">Jimena Sologuren compartió experiencias
                    </div>


                    <div class="col-lg-3 col-md-6 col-6 pb-5">
                        <a href="/jimena-sologuren-una-industria-minera-inclusiva-es-una-industria-sostenible.html" class="text-decoration-none" target="_blank">
                            <img src="~/Content/noticias/jimena-sologuren-una-industria-minera-inclusiva-es-una-industria-sostenible/resumen.jpg" alt="" class="img-fluid contenedor-noticias-img zoom-img border-coleccionables">
                            <h6 class="fuente-3 mt-3">



                                Jimena Sologuren: Una industria minera inclusiva



                            </h6>
                            <span class="fuente-3 dorado ">


                                28 DE JUNIO de 2024



                            </span>
                        </a>
                        <p class="mt-2">
                            Destacó la importancia de la inclusión de mujeres.
                        </p>
                    </div>



                    <div class="col-lg-3 col-md-6 col-6 pb-5">
                        <a href="/poderosa-comparte-avances-sobre-sostenibilidad-y-uso-de-energias-renovables-en-conamin.html" class="text-decoration-none" target="_blank">
                            <img src="~/Content/noticias/poderosa-comparte-avances-sobre-sostenibilidad-y-uso-de-energias-renovables-en-conamin/resumen.jpg" alt="" class="img-fluid contenedor-noticias-img zoom-img border-coleccionables">
                            <h6 class="fuente-3 mt-3">


                                Poderosa comparte avances sobre sostenibilidad



                            </h6>
                            <span class="fuente-3 dorado ">


                                27 DE JUNIO de 2024



                            </span>
                        </a>
                        <p class="mt-2">
                            Ing. José Estela resaltó la transición
                        </p>
                    </div>


                    <div class="col-lg-3 col-md-6 col-6 pb-5">
                        <a href="/marcelo-santillana-si-queremos-mineria-sostenible-no-debe-haber-reinfo.html" class="text-decoration-none" target="_blank">
                            <img src="~/Content/noticias/marcelo-santillana-si-queremos-mineria-sostenible-no-debe-haber-reinfo/resumen.jpg"
                                 alt=""
                                 class="img-fluid contenedor-noticias-img zoom-img border-coleccionables">
                            <h6 class="fuente-3 mt-3">

                                Marcelo Santillana: “Si queremos minería”

                            </h6>
                            <span class="fuente-3 dorado ">
                                26 DE JUNIO de 2024

                            </span>

                        </a>
                        <p class="mt-2">
                            “Una minería sostenible, no debe haber REINFO”
                        </p>
                    </div>


                    <div class="col-lg-3 col-md-6 col-6 pb-5">
                        <a href="/poderosa-promueve-la-iv-feria-agropecuaria-que-muestra-la-riqueza-de-productos-del-distrito-de-pataz.html" class="text-decoration-none" target="_blank">
                            <img src="~/Content/noticias/poderosa-promueve-la-iv-feria-agropecuaria-que-muestra-la-riqueza/resumen.jpg"
                                 alt=""
                                 class="img-fluid contenedor-noticias-img zoom-img border-coleccionables">
                            <h6 class="fuente-3 mt-3">

                                PODEROSA promueve la IV Feria Agropecuaria

                            </h6>
                            <span class="fuente-3 dorado ">
                                25 y 26 DE JUNIO de 2024

                            </span>

                        </a>
                        <p class="mt-2">
                            Convirtiéndose en una gran exposición agropecuarias
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 col-6 pb-5">
                        <a href="/pablo-de-la-flor-destaca-riesgos-de-la-mineria-ilegal.html" class="text-decoration-none" target="_blank">
                            <img src="~/Content/noticias/pablo-de-la-flor-la-mineria-ilegal-es-la-principal-economia/resumen.jpg" alt="" class="img-fluid contenedor-noticias-img zoom-img border-coleccionables">
                            <h6 class="fuente-3 mt-3">
                                Pablo de la Flor: "La minería ilegal es la principal economía ilícita y supera al narcotráfico"

                                </h5>
                                <span class="fuente-3 dorado ">
                                    25 DE JUNIO de 2024

                                </span>
                        </a>
                        <p class="mt-2">
                            Mejoramiento del Centro de Salud del anexo de Vijus.
                        </p>
                    </div>
                    <div class="col-lg-3 col-md-6 col-6 pb-5">
                        <a href="/poderosa-presente-en-cumbre-peru-sostenible-2024.html" class="text-decoration-none" target="_blank">
                            <img src="~/Content/noticias/poderosa-presente-en-cumbre-peru-sostenible-2024/resumen.jpg" alt="" class="img-fluid contenedor-noticias-img zoom-img border-coleccionables">
                            <h6 class="fuente-3 mt-3">
                                PODEROSA presente en Cumbre Perú Sostenible
                            </h6>
                            <span class="fuente-3 dorado ">
                                10 DE OCTUBRE de 2024
                            </span>
                        </a>
                        <p class="mt-2">
                            Lima fue sede de la Cumbre Perú Sostenible.
                        </p>
                    </div>


                    <div class="col-lg-3 col-md-6 col-6 pb-5">
                        <a href="/sni-reconoce-a-4-cmc-en-practicas-de-excelencia-202.html" class="text-decoration-none" target="_blank">
                            <img src="~/Content/noticias/sni-reconoce-a-4-cmc-en-practicas-de-excelencia-2024/resumen.jpg" alt="" class="img-fluid contenedor-noticias-img zoom-img border-coleccionables">
                            <h6 class="fuente-3 mt-3">
                                SNI reconoce a 4 CMC en prácticas de excelencia

                            </h6>
                            <span class="fuente-3 dorado ">
                                04 DE OCTUBRE de 2024

                            </span>
                        </a>
                        <p class="mt-2">
                            Lima fue sede de la Cumbre Perú Sostenible.
                        </p>
                    </div>


                    <div class="col-lg-3 col-md-6 col-6 pb-5">
                        <a href="/la-violencia-no-tiene-cuando-acabar-en-pataz-nuevo-atentado-contra-poderosa-deja-un-muerto-y-un-herido.html" class="text-decoration-none" target="_blank">
                            <img src="~/Content/noticias/la-violencia-no-tiene-cuando-acabar-en-pataz-nuevo-atentado/resumen.jpg" alt="" class="img-fluid contenedor-noticias-img zoom-img border-coleccionables">
                            <h6 class="fuente-3 mt-3">

                                La violencia no tiene cuando acabar en Pataz

                            </h6>
                            <span class="fuente-3 dorado ">
                                25 DE SETIEMBRE de 2024

                            </span>
                        </a>
                        <p class="mt-2">
                            Delincuentes atacaron con armas de fuego.
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 col-6 pb-5">
                        <a href="/pataz-abre-las-puertas-a-la-innovacion-con-su-observatorio-de-misiones.html" class="text-decoration-none" target="_blank">
                            <img src="~/Content/noticias/pataz-abre-las-puertas-a-la-innovacion/resumen.jpg" alt="" class="img-fluid contenedor-noticias-img zoom-img border-coleccionables">
                            <h6 class="fuente-3 mt-3">

                                Pataz abre las puertas a la innovación

                            </h6>
                            <span class="fuente-3 dorado ">
                                17 DE SETIEMBRE de 2024

                            </span>
                        </a>
                        <p class="mt-2">
                            Ha dado un paso clave hacia la innovación social.
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 col-6 pb-5">
                        <a href="/desafios-y-oportunidades-para-la-educacion-en-el-peru.html" class="text-decoration-none" target="_blank">
                            <img src="~/Content/noticias/desafios-y-oportunidades-para-la-educacion/resumen.jpg" alt="" class="img-fluid contenedor-noticias-img zoom-img border-coleccionables">
                            <h6 class="fuente-3 mt-3">

                                Desafíos y oportunidades para la educación en el Perú

                            </h6>
                            <span class="fuente-3 dorado ">
                                24 DE AGOSTO de 2024

                            </span>
                        </a>
                        <p class="mt-2">
                            Abordaron el tema de los desafíos y oportunidades.
                        </p>
                    </div>






                    <div class="col-lg-3 col-md-6 col-6 pb-5">
                        <a href="/poderosa-sustenta-postulacion-en-la-sociedad-nacional-de-industrias.html" class="text-decoration-none" target="_blank">
                            <img src="~/Content/noticias/poderosa-sustenta-postulacion/resumen.jpg" alt="" class="img-fluid contenedor-noticias-img zoom-img border-coleccionables">
                            <h6 class="fuente-3 mt-3">

                                PODEROSA sustenta postulación en la Sociedad


                            </h6>
                            <span class="fuente-3 dorado ">

                                22 DE AGOSTO de 2024


                            </span>
                        </a>
                        <p class="mt-2">
                            Reconocimiento a Prácticas de Excelencia 2024.
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 col-6 pb-5">
                        <a href="/el-poder-del-esfuerzo-conjunto-emprendimientos-que-transforman-el-norte.html" class="text-decoration-none" target="_blank">
                            <img src="~/Content/noticias/el-poder-del-esfuerzo-conjunto-emprendimientos/resumen.jpg" alt="" class="img-fluid contenedor-noticias-img zoom-img border-coleccionables">
                            <h6 class="fuente-3 mt-3">

                                Emprendimientos que transforman el norte


                            </h6>
                            <span class="fuente-3 dorado ">
                                22 DE AGOSTO de 2024


                            </span>
                        </a>
                        <p class="mt-2">
                            Por quinto año consecutivo, el Premio Hub Norte.
                        </p>
                    </div>



                    <div class="col-lg-3 col-md-6 col-6 pb-5">
                        <a href="/poderosa-comparte-su-experiencia-en-el-congreso-de-tecnicas-de-mineria.html" class="text-decoration-none" target="_blank">
                            <img src="~/Content/noticias/poderosa-comparte-su-experiencia/resumen.jpg" alt="" class="img-fluid contenedor-noticias-img zoom-img border-coleccionables">
                            <h6 class="fuente-3 mt-3">


                                PODEROSA comparte su experiencia en el Congreso


                            </h6>
                            <span class="fuente-3 dorado ">

                                15 DE AGOSTO de 2024


                            </span>
                        </a>
                        <p class="mt-2">
                            PODEROSA participó en el (CTMI 2024).
                        </p>
                    </div>



                    <div class="col-lg-3 col-md-6 col-6 pb-5">
                        <a href="/a-pesar-de-reciente-ampliacion-del-estado-de-emergencia-en-pataz-delincuentes-atacan-a-minera-poderosa-y-toman-nivel-2820.html" class="text-decoration-none" target="_blank">
                            <img src="~/Content/noticias/a-pesar-de-reciente-ampliacion-del-estado-de-emergencia-en-pataz-delincuentes/resumen.jpg" alt="" class="img-fluid contenedor-noticias-img zoom-img border-coleccionables">
                            <h6 class="fuente-3 mt-3">


                                Delincuentes atacan a Minera Poderosa


                            </h6>
                            <span class="fuente-3 dorado ">

                                11 DE JULIO de 2024


                            </span>
                        </a>
                        <p class="mt-2">
                            Un grupo de delincuentes ingresaron con armas.
                        </p>
                    </div>


                    <div class="col-lg-3 col-md-6 col-6 pb-5">
                        <a href="/xv-conamin-poderosa-recibe-reconocimiento-a-mejor-trabajo-investigacion.html" class="text-decoration-none" target="_blank">
                            <img src="~/Content/noticias/xv-conamin-poderosa-recibe-reconocimiento-a-mejor-trabajo-investigacion/resumen.jpg" alt="" class="img-fluid contenedor-noticias-img zoom-img border-coleccionables">
                            <h6 class="fuente-3 mt-3">


                                XV CONAMIN: Poderosa recibe reconocimiento



                            </h6>
                            <span class="fuente-3 dorado ">

                                28 DE JUNIO de 2024



                            </span>
                        </a>
                        <p class="mt-2">
                            Reconocimiento a la mejor investigación
                        </p>
                    </div>


                    <div class="col-lg-3 col-md-6 col-6 pb-5">
                        <a href="/jimena-sologuren-compartio-experiencias-e-inspiro-a-escolares-de-trujillo.html" class="text-decoration-none" target="_blank">
                            <img src="~/Content/noticias/jimena-sologuren-compartio-experiencias-e-inspiro-a-escolares-de-trujillo/resumen.jpg" alt="" class="img-fluid contenedor-noticias-img zoom-img border-coleccionables">
                            <h6 class="fuente-3 mt-3">



                                Jimena Sologuren compartió experiencias



                            </h6>
                            <span class="fuente-3 dorado ">


                                28 DE JUNIO de 2024



                            </span>
                        </a>
                        <p class="mt-2">Jimena Sologuren compartió experiencias
                    </div>


                    <div class="col-lg-3 col-md-6 col-6 pb-5">
                        <a href="/jimena-sologuren-una-industria-minera-inclusiva-es-una-industria-sostenible.html" class="text-decoration-none" target="_blank">
                            <img src="~/Content/noticias/jimena-sologuren-una-industria-minera-inclusiva-es-una-industria-sostenible/resumen.jpg" alt="" class="img-fluid contenedor-noticias-img zoom-img border-coleccionables">
                            <h6 class="fuente-3 mt-3">



                                Jimena Sologuren: Una industria minera inclusiva



                            </h6>
                            <span class="fuente-3 dorado ">


                                28 DE JUNIO de 2024



                            </span>
                        </a>
                        <p class="mt-2">
                            Destacó la importancia de la inclusión de mujeres.
                        </p>
                    </div>

                </div>
            </div>
        </section>


        @Html.Partial("~/Views/Shared/_footer.cshtml")
</body>
@Html.Partial("~/Views/Shared/_foot.cshtml")
<!-- SCRIPTS -->
<script type="text/javascript" src="~/Content/js/pagination/jQuery.paginate.js"></script>
<script>
    $('.publicaciones_pagination').paginate({
        items_per_page: 20
    });
</script>

