@Html.Partial("~/Views/Shared/_head.cshtml")
<!-- METAS -->
<title> Operaciones de Minera Poderosa se abastecen de energía renovable | PODEROSA</title>
<!-- Basic HTML Meta Tags -->
<meta name='title' content='Operaciones de Minera Poderosa se abastecen de energía renovable  | PODEROSA' />
<meta name='description' content='Compañía Minera Poderosa recibió certificado I-REC que garantiza el origen de fuente renovable del total del suministro eléctrico adquirido a Kallpa durante el 2023.' />
<meta name='url' content='http://www.poderosa.com.pe/noticias/operaciones-de-minera-poderosa-se-abastecen-de-energia-renovable/' />
<meta name='keywords' content='Poderosa, operaciones, minera, PQoderosa, energía, renovable' />
<!-- OpenGraph Meta Tags -->
<meta property='og:type' content='website' />
<meta property='og:title' content='Operaciones de Minera Poderosa se abastecen de energía renovable | PODEROSA' />
<meta property='og:description' content='Compañía Minera Poderosa recibió certificado I-REC que garantiza el origen de fuente renovable del total del suministro eléctrico adquirido a Kallpa durante el 2023.' />
<meta property='og:url' content='http://www.poderosa.com.pe/noticias/operaciones-de-minera-poderosa-se-abastecen-de-energia-renovable/' />
<meta property='og:image' content='http://www.poderosa.com.pe/Content/noticias/operaciones-de-minera-poderosa-se-abastecen-de-energia-renovable/compartir.jpg' />
</head>
<body>
    @Html.Partial("~/Views/Shared/_header.cshtml")

    <main>

        <section class="bg-dorado">
            <div class="banner-interno banner-interno--solo-texto">
                <div class="container   banner-interno__caja-texto">
                    <h1 class="banner-interno__h">NOTICIAS</h1>
                </div>
            </div>
        </section>

        <section class="my-seccion">
            <div class="container">
                <img class="object-fit-cover" src="~/Content/noticias/poderosa-dona-terreno-a-la-fundacion-peruana-de-cancer/banner.jpg" alt="imagen">
                <div class="h6 mayuscula mt-4">Abril 19 de 2024</div>
                <h1 class="h3 dorado">Operaciones de Minera Poderosa se abastecen de energía renovable </h1>

                <div class="d-flex justify-content-center justify-content-sm-start">
                    @Html.Partial("~/Views/Shared/_redes.cshtml")
                </div>
                <br />

                <p>Compañía Minera Poderosa recibió certificado I-REC que garantiza el origen de fuente renovable del total del suministro eléctrico adquirido a Kallpa durante el 2023.</p>

                <p>
                    Durante todo el año 2023, las operaciones de Minera Poderosa fueron abastecidas de electricidad proveniente de la Central Hidroeléctrica Cerro del Águila, operada por Kallpa Generación, que utiliza el recurso hídrico, principal fuente renovable con que cuenta el Perú.</p>

                <p>
                    El suministro contratado por Minera Poderosa a Kallpa fue auditado por la International Renewable Energy Certificate (I-REC), organización que opera en países que agrupan más del 50% del consumo global de electricidad. Dicha organización certificó el origen renovable del proceso de generación y suministro de energía entre ambas compañías.</p>

                <p>
                    Poderosa es una compañía minera peruana dedicada a la producción aurífera subterránea responsable, que dirige sus acciones desde la sostenibilidad ambiental, social y energética para contribuir al desarrollo de la región La Libertad y del país.
                </p>

                <p>
                    En la actualidad, uno de los principales compromisos de la actividad minera es abastecerse de energía renovable con el objetivo de cumplir con las metas trazadas por los Objetivos de Desarrollo Sostenible, en lo referido a la reducción de la huella de carbono.
                </p>

                <p>
                    <i>“Nos satisface recibir este certificado verde que está alineado a nuestra meta de ser Carbono Cero al 2030 en generación y compra de electricidad, desarrollando una minería sostenible con bajas emisiones de C02”,</i> señaló Eva Arias de Sologuren, presidenta de Minera Poderosa.
                </p>

                <p>
                    <i>“Kallpa es una compañía eléctrica que opera un portafolio diversificado que genera energía limpia y eficiente para garantizar el desarrollo de la minería en cumplimiento de los mayores estándares de sostenibilidad y cuidado del medio ambiente”,</i> señaló Rosa María Flores-Araoz, CEO de Kallpa.
                </p>

                <p>
                    Minera Poderosa reafirma su compromiso con el cuidado del medio ambiente y la transición hacia las energías limpias.
                </p>

                    <br />
                    <div class="row justify-content-center my-4">
                        <div class="col-lg-8">
                            <div class="owl-carousel    js-owl-carousel-fotos   owl-carousel--no-nav    dots-gris">
                                <div class="">
                                    <img class="img-fluid w-100" src="~/Content/noticias/operaciones-de-minera-poderosa-se-abastecen-de-energia-renovable/01.jpg" alt="imagen">
                                </div>

                                <div class="">
                                    <img class="img-fluid w-100" src="~/Content/noticias/operaciones-de-minera-poderosa-se-abastecen-de-energia-renovable/02.jpg" alt="imagen">
                                </div>

                                <div class="">
                                    <img class="img-fluid w-100" src="~/Content/noticias/operaciones-de-minera-poderosa-se-abastecen-de-energia-renovable/03.jpg" alt="imagen">
                                </div>

                                <div class="">
                                    <img class="img-fluid w-100" src="~/Content/noticias/operaciones-de-minera-poderosa-se-abastecen-de-energia-renovable/04.jpg" alt="imagen">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex mt-4  flex-column flex-sm-row align-items-center align-items-md-start justify-content-sm-center">
                        <div class="flex-fill mb-4 mb-sm-0">
                            @Html.Partial("~/Views/Shared/_redes.cshtml")

                        </div>
                        <div class="flex-fill text-center text-sm-right">
                            <a class="boton boton--marron" target="_blank" href="@Url.Action("index", "noticias")">VER MÁS NOTICIAS</a>
                        </div>
                    </div>
            </div>
        </section>

    </main>

    @Html.Partial("~/Views/Shared/_footer.cshtml")

</body>
@Html.Partial("~/Views/Shared/_foot.cshtml")
</html>