@Html.Partial("~/Views/Shared/_head.cshtml")
<!-- METAS -->
<title>Yo innovo por el Perú: CONCYTEC reconoce proyecto innovador desarrollado por PODEROSA | PODEROSA</title>
<!-- Basic HTML Meta Tags -->
<meta name='title' content='Yo innovo por el Perú: CONCYTEC reconoce proyecto innovador desarrollado por PODEROSA | PODEROSA' />
<meta name='description' content='El Consejo Nacional de Ciencia, Tecnología e Innovación Tecnológica (CONCYTEC) reconoció a PODEROSA por el desarrollo del proyecto: Análisis de Velocidades mediante Exploración de Sísmica Indirecta basada en data de Sismicidad Inducida para la Identificación de Zonas de Alto Potencial Mineralógico.' />
<meta name='url' content='http://www.poderosa.com.pe/noticias/yo-innovo-por-el-peru-concytec-reconoce-proyecto-innovador/' />
<meta name='keywords' content='Asociación Pataz, conócenos, descubre' />
<!-- OpenGraph Meta Tags -->
<meta property='og:type' content='website' />
<meta property='og:title' content='Yo innovo por el Perú: CONCYTEC reconoce proyecto innovador desarrollado por PODEROSA | PODEROSA' />
<meta property='og:description' content='El Consejo Nacional de Ciencia, Tecnología e Innovación Tecnológica (CONCYTEC) reconoció a PODEROSA por el desarrollo del proyecto: Análisis de Velocidades mediante Exploración de Sísmica Indirecta basada en data de Sismicidad Inducida para la Identificación de Zonas de Alto Potencial Mineralógico.' />
<meta property='og:url' content='http://www.poderosa.com.pe/noticias/yo-innovo-por-el-peru-concytec-reconoce-proyecto-innovador/' />
<meta property='og:image' content='http://www.poderosa.com.pe/Content/noticias/yo-innovo-por-el-peru-concytec-reconoce-proyecto-innovador/compartir.jpg' />

</head>
<body>
    @Html.Partial("~/Views/Shared/_header.cshtml")

    <main>

        <section class="bg-dorado">
            <div class="banner-interno banner-interno--solo-texto">
                <div class="container   banner-interno__caja-texto">
                    <h1 class="banner-interno__h">NOTICIAS</h1>
                </div>
            </div>
        </section>

        <section class="my-seccion">
            <div class="container">
                <img class="object-fit-cover" src="~/Content/noticias/yo-innovo-por-el-peru-concytec-reconoce-proyecto-innovador/banner.jpg" alt="imagen">
                <div class="h6 mayuscula mt-4">Pataz, 06 de Julio de 2022</div>
                <h1 class="h3 dorado">
                    Prevención ante huaycos y deslizamientos: PODEROSA y Municipalidad Distrital de Pataz levantan muro de contención para proteger escuela de Vijus
                </h1>
                @Html.Partial("~/Views/Shared/_redes.cshtml")
                <br />

                
                <p>PODEROSA y la Municipalidad Distrital de Pataz entregaron un muro de contención para proteger la infraestructura de la I.E. N° 80743 Santo Tomás de Aquino del anexo de Vijus. Esta obra beneficia directamente a más de 600 estudiantes de esta escuela y a toda la localidad. El muro tiene un largo de 45 metros y una altura de 3 metros, además de una malla de sostenimiento de talud y cuneta para desviar el agua de la lluvia. </p>

                <p>
                    El muro de contención protege la infraestructura de la escuela ante un eventual deslizamiento de tierra o huayco en caso de lluvia extrema. La obra requirió de una inversión de S/ 515 577.42 que fue asumida por PODEROSA y la Municipalidad Distrital de Pataz, en 50% por ambas partes.
                </p>


                <p>
                    La construcción de la obra: "Construcción de talud, muro de contención y cuneta en la I.E. N° 80743 Santo Tomás de Aquino Pataz, localidad de Vijus, distrito de Pataz, provincia de Pataz, departamento La Libertad", es posible al convenio específico de cooperación institucional entre la Municipalidad Distrital de Pataz y PODEROSA.
                </p>

                <p>
                    Juan Carlos La Rosa, alcalde distrital de Pataz, recordó que las fuertes lluvias de los años 2019 – 2020 dañaron la infraestructura de la escuela en el anexo de Vijus, afortunadamente no hubo daño a las personas. De allí la urgencia de construir esta obra para proteger a los estudiantes. Agradeció también el apoyo de PODEROSA para el desarrollo del distrito y la mejora de la calidad de vida de la población.
                </p>

                <p>En representación de PODEROSA, el Ing. Nilo Villanueva, coordinador de Relaciones Comunitarias, saludó el esfuerzo conjunto entre el Municipio Distrital de Pataz, la población y PODEROSA; para controlar una situación de riesgo para la seguridad de los cientos de alumnos de la institución educativa. Destacó también la voluntad de apoyo de nuestra empresa para el desarrollo educativo del distrito.</p>

                <p>
                    Viany Centurion, presidenta de la Apafa de la institución educativa, expresó su agradecimiento a PODEROSA y la Municipalidad Distrital de Pataz, por esta obra preventiva que protege la seguridad de los estudiantes.
                </p>


                <p>
                    Esther Castillo, presidenta del Codeco Vijus, saludó la concreción de esta obra que salvaguarda la seguridad de los niños ante un riesgo de deslizamiento o huayco. Destacó también el trabajo conjunto entre PODEROSA, la municipalidad, autoridades locales del anexo de Vijus y población en aras de una buena vecindad.
                </p>

                <p>
                    La entrega de esta obra se realizó el 15 de julio, participaron autoridades de la comuna, comunidad educativa, autoridades locales, población, representantes de la Policía Nacional de la comisaría de Vijus y PODEROSA.

                </p>




                <code>imagen</code>


                <div class="row justify-content-center my-4">
                    <div class="col-lg-8">
                        <div class="owl-carousel    js-owl-carousel-fotos   owl-carousel--no-nav    dots-gris">
                            <div class="">
                                <img class="img-fluid w-100" src="~/Content/noticias/yo-innovo-por-el-peru-concytec-reconoce-proyecto-innovador/01.jpg" alt="imagen">
                            </div>

                            <div class="">
                                <img class="img-fluid w-100" src="~/Content/noticias/yo-innovo-por-el-peru-concytec-reconoce-proyecto-innovador/02.jpg" alt="imagen">
                            </div>

                            <div class="">
                                <img class="img-fluid w-100" src="~/Content/noticias/yo-innovo-por-el-peru-concytec-reconoce-proyecto-innovador/03.jpg" alt="imagen">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-sm-auto">
                        @Html.Partial("~/Views/Shared/_redes.cshtml")
                    </div>

                    <div class="col-sm-auto ml-sm-auto mt-3 mt-sm-0">
                        <a class="boton boton--marron" target="_blank" href="@Url.Action("index", "noticias")">VER MÁS NOTICIAS</a>
                    </div>
                </div>
            </div>
        </section>
    </main>

    @Html.Partial("~/Views/Shared/_footer.cshtml")

</body>
@Html.Partial("~/Views/Shared/_foot.cshtml")
</html>
